

/*-----iPhone 4 Styles-----*/
@media screen and (width:320px) and (height: 480px)
{
	main{
		height:850px; 	
	}
	
	
}

/*-----iPhone 5 Styles-----*/
@media screen and (width: 320px) and (height: 568px)
{
	main{
		height:900px;
	}

}

/*-----iPhone 6/7/8 Styles-----*/
@media screen and (width: 375px) and (height: 667px)
{
	main{
		height:1000px;
	}
	
	
}
